<section class="content-header">
    <h1>
        Add Inventory Item
    </h1>
</section>

<section class="content">
    <form ng-submit="addItem()">
        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Basic Details</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input ng-model="item.name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea ng-model="item.description" class="form-control" id="" cols="30"
                                      rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Attributesyeah</h3>
            </div>
            <div class="box-body">
                <div class="row" ng-if="attributeList.length > 0">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Attribute</label>
                            <select ng-model="attribute.attribute_id" name="" id="" class="form-control">
                                <option ng-repeat="attr in attributeList"
                                        value="{{ attr.attribute_id }}">{{ attr.attribute_name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="attribute_value">Value</label>
                            <input name="attribute_value" ng-model="attribute.attribute_value" type="text"
                                   class="form-control" title="attribute_value">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">&nbsp;</label>
                            <a class="btn btn-block btn-default" href="" ng-click="addItemAttribute()">Add</a>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-hover table-condensed table-responsive"
                       ng-if="itemAttributes.length > 0">
                    <thead>
                    <tr>
                        <th>Attributes</th>
                        <th>Values</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="attr in itemAttributes">
                        <td>
                            {{ attr.attribute_id }}
                        </td>
                        <td>
                            {{ attr.attribute_value }}
                        </td>
                        <td><a href="" ng-click="removeItemAttribute(attr)">Remove</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--<div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Stocks & Variants</h3>
                <span><div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="item.has_variations" name="has_variations"> This product has
                            variants
                        </label>
                    </div>
                </div></span>
            </div>
            <div class="box-body">
                <div class="row" ng-if="item.has_variations">
                    <div class="col-md-12">
                        <p>Please select the applicable option group for the variant</p>
                    </div>
                    <div class="col-md-4">
                        <label for="">Group</label>
                        <select ng-model="group_id" name="" id="option_group" class="form-control">
                            <option ng-repeat="group in optionGroupList" value="{{ group.option_group_id }}">{{ group.option_group_name }}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">&nbsp;</label>
                            <a class="btn btn-block btn-default" href="" ng-click="populateOptionGroup(group_id)">Create Variations</a>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th>Option Group</th>
                        <th>Option</th>
                        <th>Unit Cost</th>
                        <th>Stock On Hand</th>
                        <th>Re-order Level</th>
                        <th>Re-order Quantity</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-if="item.has_variations == false">
                        <td>
                            n/a
                        </td>
                        <td>
                            n/a
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="number" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="number" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="number" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="number" class="form-control">
                            </div>
                        </td>
                        <td><a class="btn btn-default" href="" ng-click="addItemVariation()">Save</a></td>
                    </tr>
                    <tr ng-repeat="variant in itemVariations" ng-if="item.has_variations && optionList.length > 0">
                        <td>
                            {{ variant.option_group_id }}
                        </td>
                        <td>
                            {{ variant.option_value }}
                        </td>
                        <td>
                            <div class="form-group">
                                <span ng-if="variant.editable == false">{{ variant.unit_cost }}</span>
                                <input ng-if="variant.editable" type="number" ng-model="variant.unit_cost" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <span ng-if="variant.editable == false">{{ variant.stock_on_hand }}</span>
                                <input ng-if="variant.editable" type="number" ng-model="variant.stock_on_hand" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <span ng-if="variant.editable == false">{{ variant.re_order_level }}</span>
                                <input ng-if="variant.editable" type="number" ng-model="variant.re_order_level" class="form-control">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <span ng-if="variant.editable == false">{{ variant.re_order_quantity }}</span>
                                <input ng-if="variant.editable" type="number" ng-model="variant.re_order_quantity" class="form-control">
                            </div>
                        </td>
                        <td>
                            <a ng-if="variant.editable" class="btn btn-default" href="" ng-click="updateItemVariation(variant)">Save</a>
                            <a ng-if="variant.editable == false" class="btn btn-default" href="" ng-click="make_editable(variant)">Edit</a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Images</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Choose Files</label>
                    <input type="file" id="photo">
                </div>
                <div class="row">
                    <div class="col-md-3" ng-repeat="image in images">
                        <a href="#" class="thumbnail">
                            <img src="image.image_url" alt="image.caption">
                        </a>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save">
            <a href="#/dashboard/items/all" class="btn btn-danger">Cancel</a>
        </div>
    </form>

</section>