<section class="content-header">
    <h1>
        Add Inventory Item
    </h1>
</section>

<section class="content">
    <form ng-submit="addItem()">
        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Basic Details</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Item Type</label>
                            <select ng-model="item.item_type" name="" id="" class="form-control">
                                <option ng-repeat="type in typeList" value="{{ type.type_id }}">{{ type.type_name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Serial Number</label>
                            <input ng-model="item.serial_no" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input ng-model="item.name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Description</label>
                            <textarea ng-model="item.description" class="form-control" id="" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">More Product Attributes</h3>
            </div>
            <div class="box-body">
                <table class="table table-striped table-hover table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Values</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Brand
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Small">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Model
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Small">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Variations</h3>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="has_variants"> This product has variants
                        </label>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-striped table-hover table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th>Option Group</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <select name="" id="option_group" class="form-control">
                                    <option value="1">Size</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Small">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Stocks</h3>
            </div>
            <div class="box-body">
                <table class="table table-striped table-hover table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th>Size</th>
                        <th>Color</th>
                        <th>Unit Cost</th>
                        <th>Qty On Hand</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            Small
                        </td>
                        <td>
                            Red
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Small">
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Small">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Images</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="">Choose Files</label>
                    <input type="file" id="photo">
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save">
            <a href="#/dashboard/items/all" class="btn btn-danger">Cancel</a>
        </div>
    </form>

</section>