<section class="content-header">
    <h1>
        Add Item Type
    </h1>
</section>

<section class="content">
    <form ng-submit="addType()" class="form">
        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Basic Details</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Type Name</label>
                            <input ng-model="type.type_name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Type Description</label>
                            <input ng-model="type.type_description" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-solid">
            <div class="box-header">
                <h3 class="box-title">Type Attributes</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="">Attribute Name</label>
                                    <input type="text" class="form-control" ng-model="attribute_name">
                                </div>
                                <div class="col-md-4">
                                    <label for="">Validation Type</label>
                                    <input type="text" class="form-control" ng-model="validation">
                                </div>
                                <div class="col-md-4">
                                    <label for="">&nbsp;</label>
                                    <a class="btn btn-default btn-block" ng-click="addAttribute()">Add</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table ng-if="attributes.length > 0" class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>Attribute Name</th>
                        <th>Validation</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="attr in attributes">
                        <td>{{ attr.attribute_name }}</td>
                        <td>{{ attr.validation }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save">
            <a href="#/inventory/types/all" class="btn btn-danger">Cancel</a>
        </div>
    </form>

</section>