<div class="product product-sm-left ">
                    <ul class="product-labels"></ul>
                    <div class="product-img-wrap">
                        <img class="product-img" src="{{ product.main_image }}" alt="{{ product.title }}"
                             title="{{ product.title }}"/>
                    </div>
                    <a class="product-link" href="{{ product.link_url }}"></a>
                    <div class="product-caption">
                        <ul class="product-caption-rating">
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li class="rated"><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                            <li><i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <h5 class="product-caption-title">{{ product.title }}</h5>
                        <div class="product-caption-price"><span class="product-caption-price-old">${{ product.price_old }}</span><span
                                class="product-caption-price-new">${{ product.current_price }}</span>
                        </div>
                        <ul class="product-caption-feature-list">
                            <li ng-repeat="feature in product.features">{{ feature }}</li>
                        </ul>
                    </div>
                </div>