<!DOCTYPE html>
<html lang="en">
  <head>
    <title>E-store</title> 
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/app.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h1 class="text-muted">E-store</h1>
      </div>

      <div class="jumbotron">
        <h2>Add Product</h2>
        <form class="form-add-product">
          <label for="inputID" class="sr-only">ID</label>
          <input type="text" name="inputID" id="inputID" class="form-control" placeholder="ID" required autofocus>

          <label for="inputSku" class="sr-only">SKU</label>
          <input type="text" name="inputSku" id="inputSku" class="form-control" placeholder="SKU" required autofocus>

          <label for="inputSupplierID" class="sr-only">Supplier ID</label>
          <input type="text" name="inputSupplierID" id="inputSupplierID" class="form-control" placeholder="Supplier ID" required>

          <label for="inputTitle" class="sr-only">Title</label>
          <input type="text" name="inputTitle" id="inputTitle" class="form-control" placeholder="Title" required autofocus>

          <label for="inputDescription" class="sr-only">Description</label>
          <input type="text" name="inputDescription" id="inputDescription" class="form-control" placeholder="Description" required autofocus>

          <label for="inputCategoryID" class="sr-only">Category ID</label>
          <input type="text" name="inputCategoryID" id="inputCategoryID" class="form-control" placeholder="Category ID" required>

          <label for="inputUnitPrice" class="sr-only">Unit Price</label>
          <input type="text" name="inputUnitPrice" id="inputUnitPrice" class="form-control" placeholder="Unit Price" required>

          <label for="inputOnHand" class="sr-only">On-hand</label>
          <input type="text" name="inputOnHand" id="inputOnHand" class="form-control" placeholder="On-hand" required autofocus>

          <label for="inputReorderLevel" class="sr-only">Re-order Level</label>
          <input type="text" name="inputReorderLevel" id="inputReorderLevel" class="form-control" placeholder="Re-order Level" required autofocus>

           <button class="btn btn-sm btn-primary btn-block" type="button">ADD</button>
      </form>
      </div>


      <footer class="footer">
        <p>&copy; Scorpio 2015</p>
      </footer>

    </div>
    <script src="/static/js/app.js"></script>
  </body>
</html>