<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Add Product Page">
    <meta name="author" content="Catherine B. Maglasang">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    
    <title>E-store</title> 
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h1 class="text-muted">E-store</h1>
      </div>

      <div class="jumbotron">
        <h2>Add Product</h2>
        <div class="row">
          <div class="col-sm-6">
            <form id="new_product_form" class="product" method="POST" action="http://127.0.0.1:5000/api/v1/products/">
              <div class="form-group">
                <label for="inputID"></label>
                <input type="number" name="inputID" class="form-control" placeholder="ID" required autofocus>
              </div>
              <div class="form-group">
                <label for="inputSku"></label>
                <input type="text" name="inputSku" class="form-control" placeholder="SKU" required autofocus>
              </div>
              <div class="form-group">
                <label for="inputSupplierID"></label>
                <input type="number" name="inputSupplierID" class="form-control" placeholder="Supplier ID" required>
              </div>
              <div class="form-group">
                <label for="inputTitle"></label>
                <input type="text" name="inputTitle" class="form-control" placeholder="Title" required autofocus>
              </div>
              <div class="form-group">
                <label for="inputDescription"></label>
                <input type="text" name="inputDescription" class="form-control" placeholder="Description" required autofocus>
              </div>
              <div class="form-group">
                <label for="inputCategoryID"></label>
                <input type="number" name="inputCategoryID" class="form-control" placeholder="Category ID" required>
              </div>
              <div class="form-group">
                <label for="inputUnitPrice"></label>
                <input type="number" name="inputUnitPrice" class="form-control" placeholder="Unit Price" required>
              </div>
              <div>
                <label for="inputOnHand"></label>
                <input type="number" name="inputOnHand" class="form-control" placeholder="On-hand" required autofocus>
              </div>
              <div>
                <label for="inputReorderLevel"></label>
                <input type="text" name="inputReorderLevel" class="form-control" placeholder="Re-order Level" required autofocus>
              </div><br>
              <div>
                <input type="submit" value="Add Product" class="btn btn-primary btn-block">
              </div>            
            </form>
          </div>
        </div>
      </div>

      <button class="btn btn-primary" onclick="add_new_product();">Product List</button><br><br>
         <table class="table table-striped">
             <thead>
                <tr>
                    <th>ID</th>
                    <th>SKU</th>
                    <th>Supplier ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Category ID</th>
                    <th>Unit Price</th>
                    <th>On-hand</th>
                    <th>Re-order Product</th>
                    <th>Is Active</th>
                    <th colspan="2">Actions</th>
                </tr>
             </thead>
             <tbody id="products"></tbody>
         </table>

      <footer class="footer">
        <p>&copy; Scorpio 2015</p>
      </footer>

    </div>
    <script src="/static/js/jQuery-2.1.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>