<nav class="navbar navbar-inverse navbar-main yamm">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-nav-collapse" area_expanded="false"><span class="sr-only">Main Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                <img src="static/img/logo-w.png" alt="TheStore" title="TheStore" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#"><i class="fa fa-reorder"></i>&nbsp; Shop by Category<i class="drop-caret" data-toggle="dropdown"></i></a>
                    <ul class="dropdown-menu dropdown-menu-category">
                        <li ng-repeat="node in category_tree">
                            <a href="#/category/1"><i class="fa fa-home dropdown-menu-category-icon"></i>Tech</a>
                            <div class="dropdown-menu-category-section">
                                <div class="dropdown-menu-category-section-inner">
                                    <div class="dropdown-menu-category-section-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h5 class="dropdown-menu-category-title">Laptops</h5>
                                                <ul class="dropdown-menu-category-list">
                                                    <li><a href="#/category/1">Home</a>
                                                        <p>Hac primis inceptos diam volutpat</p>
                                                    </li>
                                                    <li><a href="#/category/1">Kitchen</a>
                                                        <p>Arcu fermentum integer penatibus laoreet</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <img class="dropdown-menu-category-section-theme-img" src="static/img/test_cat/2-i.png" alt="Image Alternative text" title="Image Title" style="right: -10px;" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left navbar-main-search" role="search">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Search the Entire Store..." />
                </div>
                <a class="fa fa-search navbar-main-search-submit" href="/#"></a>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#nav-login-dialog" data-effect="mfp-move-from-top" class="popup-text">Sign In</a>
                </li>
                <li><a href="#nav-account-dialog" data-effect="mfp-move-from-top" class="popup-text">Create Account</a>
                </li>
                <li class="dropdown">
                    <a class="fa fa-shopping-cart" href="#/cart"></a>
                    <ul class="dropdown-menu dropdown-menu-shipping-cart">
                        <li ng-repeat="item in cart.items">
                            <a class="dropdown-menu-shipping-cart-img" href="{{ item.item_link }}">
                                <img src="{{ item.primary_image }}" alt="{{ item.title }}" title="{{ item.title }}" />
                            </a>
                            <div class="dropdown-menu-shipping-cart-inner">
                                <p class="dropdown-menu-shipping-cart-price">${{ item.price }}</p>
                                <p class="dropdown-menu-shipping-cart-item"><a href="#">{{ item.title }}</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <p class="dropdown-menu-shipping-cart-total">Total: ${{ cart.total }}</p>
                            <button class="dropdown-menu-shipping-cart-checkout btn btn-primary" href="#/checkout">Checkout</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
