<section class="content-header">
    <h1>
        Add Supplier
    </h1>
</section>

<section class="content">
    <form ng-submit="addSupplier()" class="form">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" ng-model="supplier.name" required/>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input class="form-control" type="text" ng-model="supplier.address" required/>
                        </div>
                        <div class="form-group">
                            <label>Phone number</label>
                            <input class="form-control" type="text" ng-model="supplier.phone" required/>
                        </div>
                        <div class="form-group">
                            <label>Fax</label>
                            <input class="form-control" type="text" ng-model="supplier.fax" required/>
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" ng-model="supplier.email" required/>
                        </div>
                        <div class="form-group">
                            <label><input type="checkbox" name="supplierCheckbox" checked ng-model="supplier.is_active"/>Is active?</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save">
            <a href="#/dashboard/suppliers/all" class="btn btn-danger">Cancel</a>
        </div>
    </form>

</section>
